# Logs
logs
*.log

# Runtime data & OS-specific
pids
*.pid
*.seed
.lock-wscript
Thumbs.db
.DS_STORE

# Code coverage
lib-cov
coverage

# Node dependencies
node_modules


# IDE-specific
.idea
*.iml
.vscode

# TypeScript typings
typings

# Compiled
/src/**/*.js
/src/**/*.js.map
/test/**/*.js
/test/**/*.js.map
/public/**/*.js
/public/**/*.js.map
/public/**/*.css
/public/lib
