<configuration>
    <appSettings>
        <add key="rootVirtualDirectory" value="/tetra" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>

        <!-- use URL rewriting to redirect the entire branch of the URL namespace
        to hello.js node.js application; for example, the following URLs will
        all be handled by hello.js:

            http://localhost/node/express/hello/foo
            http://localhost/node/express/hello/bar

        -->
        <iisnode
            watchedFiles="*.js"
            loggingEnabled="true">
        </iisnode>

        <rewrite>
            <rules>
                <rule name="All">
                    <match url="/*"/>
                    <action type="Rewrite" url="server.js"/>
                </rule>
            </rules>
        </rewrite>

        <!-- exclude node_modules directory and subdirectories from serving
        by IIS since these are implementation details of node.js applications -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules"/>
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>