script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/jquery/dist/jquery.js')
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/lib/toastr/toastr.js')

script(type='text/javascript', src='/scripts/auth/security-helper.js')
script(type='text/javascript', src='/scripts/module.js')
script(type='text/javascript', src='/scripts/common/global-vars-service.js')
script(type='text/javascript', src='/scripts/common/root-controller.js')
script(type='text/javascript', src='/scripts/common/notifier.js')
script(type='text/javascript', src='/scripts/dashboard/dashboard-controller.js')
script(type='text/javascript', src='/scripts/auth/auth-service.js')
script(type='text/javascript', src='/scripts/auth/identity-service.js')
script(type='text/javascript', src='/scripts/auth/login-controller.js')
