script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/jquery/dist/jquery.js')
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/lib/toastr/toastr.js')
script(type='text/javascript', src='/lib/linqjs/linq.js')
script(type='text/javascript', src='/lib/moment/moment.js')
script(type='text/javascript', src='/lib/numeral/numeral.js')

script(type='text/javascript', src='/scripts/auth/security-helper.js')
script(type='text/javascript', src='/scripts/module.js')
script(type='text/javascript', src='/scripts/common/global-vars-service.js')
script(type='text/javascript', src='/scripts/common/event-bus.js')
script(type='text/javascript', src='/scripts/common/root-controller.js')
script(type='text/javascript', src='/scripts/common/notifier.js')
script(type='text/javascript', src='/scripts/common/message-log.js')
script(type='text/javascript', src='/scripts/dashboard/dashboard-controller.js')
script(type='text/javascript', src='/scripts/services/project-service.js')
script(type='text/javascript', src='/scripts/auth/auth-service.js')
script(type='text/javascript', src='/scripts/auth/session-service.js')
script(type='text/javascript', src='/scripts/auth/login-controller.js')
script(type='text/javascript', src='/scripts/tech-debt/tech-debt-list-item.js')
script(type='text/javascript', src='/scripts/tech-debt/tech-debt-list-controller.js')
script(type='text/javascript', src='/scripts/tech-debt/new-tech-debt-item.js')
script(type='text/javascript', src='/scripts/tech-debt/create-tech-debt-controller.js')
script(type='text/javascript', src='/scripts/tech-debt/tech-debt-detail-controller.js')
script(type='text/javascript', src='/scripts/tech-debt/tech-debt-detail.js')
